
<div class="container">
 	<div class="row mt-5 text-center">
  		<div class="col-md-12">
			<p>Įvesti mašinos numerį, spausti "Toliau"</p>
			<!--Angular forma mašinos numeriui įvesti-->
			<form #userForm="ngForm" 
				(ngSubmit)="onSubmit(userForm.value)">
				<div class="form-group">
	 				<input 
	 				name="value" 
	 				[attr.maxlength]="maxlength" 
	 				placeholder="Mašinos numeris" 
	 				onpaste="return false"
	 				(keypress)="restrictSpace($event)" 
	 				[(ngModel)]="value">
	  			</div>
	  			<button class="btn btn-primary" type="submit" value="submit">Toliau</button>
	 		</form>
		</div>
   </div>
	<div class="row mt-2 text-center">
		<div class="col-md-12">
       		<p id="error">{{error}}</p>
		</div>
	</div>	 
</div>	 	 

